<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Result</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="alert alert-info" role="alert">
        <h2>Ошибка</h2>
        <h2><span th:text="${exception}"></span></h2>
    </div>
    <a href="/">Вернуться</a>
</div>
</body>
</html>