<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ЯФГС</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        table {
            text-align: center;
        }
        th {
            text-align: center;
        }
        #add-button {
            margin: 2em 0 2em 0;
        }



    </style>
</head>
<body>
<div class="container" style="font-size: medium">
    <a class="btn btn-default" th:href="@{/save}" role="button" id="add-button"> Добавить землетрясение </a>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th>Дата и время</th>
            <th>Широта</th>
            <th>Долгота</th>
            <th>Глубина</th>
            <th>Магнитуда</th>
            <th class="text-nowrap">Энергетический класс</th>
            <th>Регион</th>
            <th></th>
        </tr>
        <th:block th:each="earthquake : ${page.content}">
            <tr>
                <td th:text="${earthquake.datetime}" class="text-nowrap"></td>
                <td th:text="${earthquake.latitude}"></td>
                <td th:text="${earthquake.longitude}"></td>
                <td th:text="${earthquake.depth}"></td>
                <td th:text="${earthquake.magnitude}"></td>
                <td th:text="${earthquake.energyclass}"></td>
                <td th:text="${earthquake.region}" class="text-nowrap"></td>
                <td><a th:href="@{'/edit/' + ${earthquake.id}}" class="btn btn-default" role="button">Редактировать</a>
                </td>
            </tr>
        </th:block>
    </table>
    <div class="text-center">
        <
        <div th:if="${page.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/(size=${page.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==page.number} ? active"
               style="padding: 5px"></a>
        </div>
        >
    </div>
</div>
</body>
</html>