<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ЯФГС</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-horizontal" action="#" th:action="@{/request}" th:object="${earthquake}" method="post">
        <fieldset>
            <legend>Добавить событие</legend>
            <input id="eqId" name="id" type="hidden" th:field="*{id}">
            <div class="form-group">
                <label class="col-md-4 control-label" for="datetimepicker">Дата и время</label>
                <div class="col-md-4">
                    <input id="datetimepicker" name="datetime" type="text" class="form-control input-md"
                           th:field="*{datetime}" th:required="required">
                    <span class="help-block">Дата и  время события</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="latitude">Широта</label>
                <div class="col-md-4">
                    <input id="latitude" name="latitude" type="number" step="0.01" class="form-control input-md"
                           th:field="*{latitude}" onchange="fetchRegion()" th:required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="longitude">Долгота</label>
                <div class="col-md-4">
                    <input id="longitude" name="longitude" type="number" step="0.01" class="form-control input-md"
                           th:field="*{longitude}" onchange="fetchRegion()" th:required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="depth">Глубина</label>
                <div class="col-md-4">
                    <input id="depth" name="depth" type="number" class="form-control input-md" th:field="*{depth}"
                           th:required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="magnitude">Магнитуда</label>
                <div class="col-md-4">
                    <input id="magnitude" name="magnitude" type="number" step="0.01" class="form-control input-md"
                           th:field="*{magnitude}" th:required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="energyClass">Энергетический класс</label>
                <div class="col-md-4">
                    <input id="energyClass" name="energyClass" type="number" step="0.01" class="form-control input-md"
                           th:field="*{energyclass}" th:required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="datetimepicker">Регион</label>
                <div class="col-md-4">
                    <input id="region" name="region" type="text" class="form-control input-md"
                           th:field="*{region}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Отправить</button>
                    <a class="btn btn-default" th:href="@{/}" role="button" style="margin-left: 1em"> Отмена</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery.maskedinput.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var now = /*[[${now}]]*/ '2012-01-01 00:00:00';
    $("#datetimepicker").mask("9999-99-99 99:99:99", {placeholder: now});
    /*]]>*/



</script>
<script type="application/javascript">
    function fetchRegion() {
        let lat = document.getElementById("latitude").value;
        let lng = document.getElementById("longitude").value;
        let region = document.getElementById("region");
        if (lat === "" || lng === "") return;
        let url = `https://eu1.locationiq.com/v1/reverse.php?key=24468e2e4d9500&lat=${lat}&lon=${lng}&format=json&accept-language=ru`
        region.disabled = true;
        $.get( url, function( data ) {
            region.disabled = true;
            region.value = `${data.address.county}, ${data.address.state}, ${data.address.country}`;
        }).fail(function() {
            region.value = "";
        })
        .always(function() {
            region.disabled = false;
        });
    }



</script>
</body>
</html>